//todo: pick lại hết mã màu
//todo:đặt lại màu biến sau cho hợp lí
//todo tìm hiểu rỏ về BEM đặt hết lại tên cho hợp lí
// TODO 
// FIXME 
// NOTE 
// REVIEW


// color
$jade-100: #E8F5F3;
$jade-200: #b1e9ff;
$jade-300: #8EDCCF;
$jade-400: #2bb39d;
$jade-900: #00A389;


$grey-100: #F4F6F8; 
$grey-200: #E4E8EE;
$grey-300: #dddee1;
$grey-400: #d9dbe8;
$grey-500: #CDBFFF;
$grey-600: #D0D3E3;
$grey-700: #BEC4CD; 
$grey-800: #9DA5B0; 
$grey-900: #717D9D; 

$brown-100: #F2DEA8;
$brown-300: #FFCCAA;
$brown-400: #bca246;
$brown-900: #685F48;
$red-500: #fa5d5d;
$orange-900:#FE6600;


//font-size
$fs-0:12px;
$fs-1:14px;
$fs-2:16px;
$fs-3:18px;
$fs-4:20px;
$fs-8:28px;

//font-weight
$fw-0:normal;
$fw-4:300;
$fw-1:600;
$fw-2:700;
$fw-3:900;

//line-height
$line-height-0:1.43;

//margin
$mg-0:5px;
$mg-2:10px;
$mg-3:15px;

//margin-top;
$mt-1:5px;
$mt-2:10px;
$mt-3:15px;
$mt-4:20px;
$mt-5:25px;
$mt-6:30px;

//padding
$pd-0:5px;
$pd-1:10px;
$pd-2:15px;
$pd-3:20px;

//border-radius
$br-1:8px;
$br-2:12px;
$br-3:16px;
$br-4:20px;
$br-5:25px;