$grey:#e4e8ee;
$lightgrey:#f4f6f8;



$lightgreen:#b6e5dd;


// $grey1:#a6adb7;
// $greyBorder:#ececec;



$green:#00a28a;
// $green-9: #00a28a; 
$lable-green: #8ddccf;
// $green-6: #8ddccf;
$lable-blue: #b1e9ff;
// $green-3: #b1e9ff;
$bg-light-green:#cbeee6;
// $green-1:#cbeee6;

$txt-time: #777d8a;
$txt-content: #7c8994;
//$grey-9: #777d8a;
$grey-star: #d9dbe8;

$grey-search-fa:#b6beca;
$icon-grey-light: #eaeef1;
$icon-grey-dark: #b3b7bb;
$color-back: #95999c;

$grey-icon: #bfc3df;
$grey-icon-dark: #9da5b0;
$grey-border: #dddee1;
$lable-purple: #cdbeff;
$txt-grey:#aaafb3;
$lable-grey:#cfd4e4;
$grey-contact-bg: #f5f6f8;

$grey-search-bg: #e4e7ee;

$grey-serch-txt: #aaabdf;
$bg-back: #f0f1f3;


$red-logo: #fa5d5d;
$lable-yellow: #f3ddaa;

$bg-light-yellow:#ffefc3;
$txt-yellow-name: #bca246;
$bg-light-orange:#ffcbab;
$txt-orange-name: #f26e0a;
$txt-tag-yellow:#655628;  

