$grey:#e4e8ee;
$lightgrey:#f4f6f8;


$greenNb:#00a389;
$lightgreen:#b6e5dd;


$grey1:#a6adb7;
$greyBorder:#ececec;

$grey-txt:#626979;


$icon-grey:#bec4cd;


// side
$red-logo: #fa5d5d;
$bg-back: #f0f1f3;
$color-back: #95999c;
$green:#00a28a;
$grey-icon: #bfc3df;
$grey-icon-dark: #9da5b0;
$grey-boder: #dddee1;

$lable-grey:#cfd4e4;
$lable-yellow: #f3ddaa;
$lable-green: #8ddccf;
$lable-blue: #b1e9ff;
$lable-purple: #cdbeff;





// contact
$grey-contact-bg: #f5f6f8;

$grey-search-bg: #e4e7ee;
$grey-search-fa:#b6beca;
$grey-serch-txt: #aaabdf;

$txt-time: #777d8a;
$txt-content: #7c8994;
$grey-star: #d9dbe8;

$bg-light-green:#cbeee6;
$bg-light-yellow:#ffefc3;
$txt-yellow-name: #bca246;
$bg-light-orange:#ffcbab;
$txt-orange-name: #f26e0a;

// main-contents
$txt-tag-yellow:#655628;
$icon-grey-light: #eaeef1;
$icon-grey-dark: #b3b7bb;

$txt-grey:#aaafb3;
$txt-green: #499889;



