.label-991{
	margin-top: 44px;
}
.labels {
	display: flex;
	margin-bottom: 30px;
	font-size: 16px;
	align-items: center;

	.item-label1 {
		margin-left: 12px;
		color: #727a86;
		// border: thin black solid;
		padding-top: 3px;
	}

	.item-label2 {
		width: 55%;
		display: flex;
		justify-content: flex-end;	

		span {
			// border: thin black solid;
			border-radius: 10px;
			background-color: $bg-light-green;
			text-align: center;
			color: $green;
			width:30px;
			height: 30px;
			line-height: 30px;
		}
	}

	.item-label3 {
		margin-left: auto;

		span{
			color: $grey-icon;
			line-height: 30px;
		}

	}
}

.tag-labels {
	// border:thin black solid;
	display: flex;
	margin-bottom: 32px;
	font-size: 16px;
	align-items: center;


	.label-rectangle{
		@extend .label-rectangle;
		background-color: $lable-grey;
	}
	.label-rectangle::after{
		@extend .label-triangle ;
		border-left: 8px solid $lable-grey;
	}

	
	.label-rectangle1{
		@extend .label-rectangle;
		background-color:$lable-yellow ;
	}
	.label-rectangle1::after{
		@extend .label-triangle ;
		border-left: 8px solid $lable-yellow;
	}
	.label-rectangle2{
		@extend .label-rectangle;
		background-color:$lable-green;
	}
	.label-rectangle2::after{
		@extend .label-triangle ;
		border-left: 8px solid $lable-green;
	}
	.label-rectangle3{
		@extend .label-rectangle;
		background-color:$lable-blue ;
	}
	.label-rectangle3::after{
		@extend .label-triangle ;
		border-left: 8px solid $lable-blue;
	}
	.label-rectangle4{
		@extend .label-rectangle;
		background-color:$lable-purple ;
	}
	.label-rectangle4::after{
		@extend .label-triangle ;
		border-left: 8px solid $lable-purple;
	}

	.box-label2 {
		width: 70%;
		margin-left: 18px;
	}
}


