.side {
	width: 100px;
	// margin: 50px 0 24px;
	text-align: center;
	/* border: thin black solid; */
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.logo {
		width: 32px;
		.triangle-up{
			width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid $green;
			
		}
		.triangle-down{
			margin-left: auto;
			width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid $red-logo;
		}
	}

	.icon-nav {
		width: 100%;

		// border: thin black solid;
		ul {
			list-style-type: none;
			padding-inline-start: 0;
			// border: thin red solid;


			li {
				border-right: 5px solid #ffffff;

				margin-bottom: 8px;

				.side-icon-container {
					height: 52px;
					margin-left: 14px;
					margin-right: 14px;
					padding-top: 12px;
				}

				.icon-diveo{
					color:$grey-icon-dark;
				}

				span {
					color: $grey-icon;
					font-size: 24px;
				}
			}

			li:hover {
				border-right: 5px solid $green;

				.side-icon-container {

					border-radius: 10px;
					background-color: $bg-light-green;

					.side-icon {
						fill: $green;

					}

					span {
						color: $green;
					}
				}
			}

			.icon-side-act {
				border-right: 5px solid$green;

				.side-icon-container {

					border-radius: 10px;
					background-color: $bg-light-green;

					.side-icon {
						fill: $green;

					}

					span {
						color: $green;
					}
				}
			}


		}
	}

	.account {
		align-self: flex-end;
		width: 56px;
		display: flex;
		bottom: 1px;
		justify-content: center;
		margin-bottom: 25%;

		img {
			// @extend .box-image;
			@extend .imgAcc;
			align-self: flex-end;

		}
	}
}