.side {
	width: 100px;
	// margin: 50px 0 24px;
	text-align: center;
	/* border: thin black solid; */
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.logo {
		// width: 100%;
		@extend .imgAcc;
		align-self: flex-start;
		margin-top: 44%;
	}

	.icon-nav {
		width: 100%;

		// border: thin black solid;
		ul {
			list-style-type: none;
			padding-inline-start: 0;
			// border: thin red solid;


			li {
				border-right: 5px solid #ffffff;

				margin-bottom: 8px;

				.side-icon-container {
					height: 52px;
					margin-left: 14px;
					margin-right: 14px;
					padding-top: 12px;
				}

				.icon-diveo{
					color:#9da5b0;
				}

				span {
					color: $icon-grey;
					font-size: 24px;
				}
			}

			li:hover {
				border-right: 5px solid#00a389;

				.side-icon-container {

					border-radius: 10px;
					background-color: #dff4f0;

					.side-icon {
						fill: #00a389;

					}

					span {
						color: $greenNb;
					}
				}
			}

			.icon-side-act {
				border-right: 5px solid#00a389;

				.side-icon-container {

					border-radius: 10px;
					background-color: #dff4f0;

					.side-icon {
						fill: #00a389;

					}

					span {
						color: $greenNb;
					}
				}
			}


		}
	}

	.account {
		align-self: flex-end;
		width: 56px;
		display: flex;
		bottom: 1px;
		justify-content: center;
		margin-bottom: 25%;
		border: thin black solid ;

		img {
			@extend .box-image;
			@extend .imgAcc;
			align-self: flex-end;

		}
	}
}