.content {
	width: 93%;
	display: flex;
	box-shadow: -4px 0 5px -5px $grey-border;
	border-radius: 20px;
	background-color: white;
}

.sub-side {
	width: 452px;
	margin: 20px 15px;

	.content-mailbox {
		border-bottom: thin $grey-border solid;
		height: 88px;
		display: flex;
		align-items: center;

		.chevron-left {
			span {
				text-decoration: none;
				background-color: $bg-back;
				text-align: center;
				border-radius: 12px;
				padding-top: 8px;
				height: 40px;
				width: 40px;
				color: $color-back;
				
			}
		}

		.txt-mail {
			p {
				margin: -9px 0 0 18px;
				font-size: 27px;
				font-weight: 600;
			}
		}
	}

	// 
	.box {
		margin: 20px 0 45px 0;
		display: flex;
		border-radius: 10px;
		background-color: $green;
		align-items: center;

		p {
			margin: 13px 0px 13px 18px;
			color: white;
			height: 19px;

			.mail-icon {
				margin-top: -2px;
				fill: white;
				font-size: 20px;

			}

		}

	}


	.inbox {
		display: flex;
		margin-bottom: 25px;
		align-items: center;

		.item-box1 {
			margin-left: 12px;

			.list-icon {
				font-size: 22px;
				fill: $grey-icon;
				width: 25px;
				text-align: center;

				.top-icon	{
					fill:$grey-icon-dark;
				}
				.bottom-icon{
					fill:$grey-icon;
				}
			}
			span{
				color:$grey-icon;
			}

		}
		

		.item-box2 {
			width: 60%;
			margin-left: 18px;
			font-weight: 600;
			font-size: 15px;
			p{
				margin:0;
			}

		}

		.item-box3 {
			text-align: center;

			p {
				width: 24px;
				height: 24px;
				line-height: 24px;
				color: white;
				background-color: $green;
				border-radius: 10px;
				margin: 0;
			}

		}
	}
	.inbox-first{
		color: $green;
		.item-box1{
			span{
				color: $green;
			}
			
		}
	}

	.inbox:hover {
		color: $green;

		.list-icon {
			fill: $green;
			.top-icon	{
				fill: $green;
			}
			.bottom-icon{
				fill: $green;
			}
		}
		span{
			color: $green;
		}
	}

}