.main-content {
  margin: 20px 0;
  padding: 0px 30px 0px 30px;
}

.border-content {
  border-bottom: thin solid $grey;
  height: 88px;
  display: flex;
  align-items: center;

  .label-container {
    color: $brown-yellow-dark;
    width: 60%;

    .label-content {
      // @extend .label-rectangle;
      position: relative;
      background-color: $orange-red-lighter;
      width: 144px;
      height: 31px;
      display: flex;
      align-items: center;
      padding: 0px 0 1px 15px;
      border-radius: 5px;
      text-align: center;
      line-height: 16px;
      font-size: 14px;
    }

    .label-content::after {
      // @extend .label-triangle ;

      content: "";
      margin-left: -2.5px;
      position: absolute;
      left: 100%;
      top: 0px;
      width: 0px;
      /* height: 0px; */
      border-top: 16px solid transparent;
      border-left: 14px solid $orange-red-lighter;
      border-bottom: 16px solid transparent;
    }

    span {
      padding: 0px 5px 0 8px;
      font-size: 13px;
    }
  }





  .icon-content {
    width: 40%;
    text-align: right;

    span {
      font-size: 20px;
      padding-left: 15px;
      color: #eaedf1;
    }
    span:last-child{
      color: $grey-dark;
    }
  }
}

.title-msg {
  p {
    margin-top: 20px;
    color: $grey-dark;
    font-size: 14px;
  }

  h2 {
    margin: 16px 0 30px;
    font-size: 32px;
  }
}



.box-msg {
  display: flex;
  word-wrap: break-word;
  height: 60px;

  .border-msg {
    width: 52px;
    display: flex;
    align-items: center;


    .box-msg-img {
      width: 36px;
      height: 36px;
      border-radius: 50%;


      img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        color: $grey-dark;
        font-size: 25px;
      }
    }
  }


  .box-msg-content {
    display: flex;
    align-self: center;


    p:nth-child(1) {
      font-weight: 600;
      text-align: left;
      margin: 0;

    }

    p:nth-child(2) {
      padding-left: 16px;
      color: $grey-dark;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 100;
      margin: 0;

    }
  }


  .box-msg-time {
    margin-left: auto;
    color: $grey-dark;
  }

}


.txt-msg-content {
  color: #384055;
  font-size: 18px;
  margin-top: 43px;

  word-wrap: break-word;

  // word-break: break-all;
  a {
    color: $jade-darkest;
  }
}
.border-box{
  border-bottom: thin #e4e4ec solid;
  border-top: thin #e4e4ec solid;

}

.Utilities {
  display: flex;
  margin-top: 5%;
  align-items: center;
  color: #d6dce4;
  

  .icon-file {
    width: 70%;

    span {
      margin-right: 15px;
    }
  }

  .icon-delete {
    width: 20%;
    text-align: right;

    span {
      margin-left: 15px;
    }
  }

  .icon-sent {
    text-align: right;

    button {
      display: flex;
      width: 96px;
      padding: 1px 10px;
      justify-content: space-around;
      align-items: center;
      border-radius: 8px;
      background-color: $jade-darkest;
      border: none;
      color: white;
      margin-left: 16px;
    }

    button:focus {
      outline: 0;
    }

    button:hover {
      cursor: pointer;
      background-color: $jade-darkest;
    }

    button:active {
      background-color: $jade-darkest;
    }
  }
}

