.side {
	width: 84px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 25px;
	align-self: flex-start;
	margin-top: 48px;

	.triangle-up {
		@extend .commonLogo;
		border-bottom: 12px solid $jade-darkest;
	}

	.triangle-down {
		@extend .commonLogo;
		margin-left: auto;
		border-top: 12px solid $red-chalk;
	}
}

.icon-nav {
	width: 100%;

	ul {
		list-style-type: none;
		padding-inline-start: 0;

		li {
			@include nav-icon;
			
		}

		li:hover {

			@include nav-icon($jade-darkest, $skyblue-light, $jade-darkest, $jade-darkest);

			.side-icon {
				fill: $jade-darkest;
			}
			
			.icon-diveo{
				color:$jade-darkest !important;
			}
			
		}

		.icon-side-act {
			@include nav-icon($jade-darkest, $skyblue-light, $jade-darkest);
		}

	}
}

.account {
	align-self: flex-end;
	width: 56px;
	display: flex;
	bottom: 1px;
	justify-content: center;
	margin-bottom: 25%;

	img {
		@extend .imgAcc;
		align-self: flex-end;

	}
}