@mixin nav-icon($color : $grey-purple, $bg: white, $border:white,$color-dark : $grey-purple) {
  border-right: 5px solid $border;
  margin-bottom: 8px;

  .side-icon-container {
    @include border-radius(10px);
    height: 52px;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    background-color: $bg;
    

    span {
      color: $color;
    }
    
    .icon-diveo{
      color:$grey-dark;
    }
  }

  span {
    color: $color;
    font-size: 24px;
  } 
}


@mixin label-rectangle {
  $color:(0 : $purple-taro-dark, 1 : $brown-yellow, 2 : $jade-light, 3 : $skyblue, 4 : $purple-taro);

  @each $i, $c in $color{
    @if $i == 0{
      .label-rectangle{
        @extend .label-rectangle;
        background-color: $purple-taro-dark;
      }
      .label-rectangle::after{
        @extend .label-triangle ;
        border-left: 8px solid $purple-taro-dark;
      }
    }
    @else {
      .label-rectangle#{$i}{
        @extend .label-rectangle;
        background-color: $c;
      }
      .label-rectangle#{$i}::after{
        @extend .label-triangle ;
        border-left: 8px solid $c;
      }
    }

  }
}


@mixin border-radius($size: 12px){
border-radius: $size;
}