.sidebar__lable__item {
  .tag {
    @include tag;
    margin-right: 18px;
    background-color: $grey-600;

    &::before{
      background-color: $grey-600;
    }
    &::after{
      background-color: $grey-600;
    }
  }
  .tag1 {
    @include tag;
    margin-right: 18px;
    background-color: $brown-100;

    &::before{
      background-color: $brown-100;
    }
    &::after{
      background-color: $brown-100;
    }
  }
  .tag2 {
    @include tag;
    margin-right: 18px;
    background-color: $jade-300;

    &::before{
      background-color: $jade-300;
    }
    &::after{
      background-color: $jade-300;
    }
  }
  .tag3 {
    @include tag;
    margin-right: 18px;
    background-color: $jade-200;

    &::before{
      background-color: $jade-200;
    }
    &::after{
      background-color: $jade-200;
    }
  }
  .tag4 {
    @include tag;
    margin-right: 18px;
    background-color: $grey-500;

    &::before{
      background-color: $grey-500;
    }
    &::after{
      background-color: $grey-500;
    }
  }
  &__title{
    font-size: 12px;
    font-weight: 700;
    color: #312c2c;
  }
}