* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Sofia Pro Light";
  font-size: 16px;
  line-height: 1.43; }

.navbar__item .material-icons {
  background-color: initial;
  color: #BEC4CD;
  border: none;
  outline: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  border-radius: 8px; }
  .navbar__item .material-icons:hover {
    cursor: pointer;
    background-color: #E8F5F3;
    color: #00A389; }
  .navbar__item .material-icons:active {
    background-color: #E8F5F3;
    color: #00A389; }
  .navbar__item .material-icons:hover::after {
    content: "";
    position: absolute;
    left: 64px;
    height: 48px;
    bottom: 0;
    border-right: 4px solid #00A389; }
  .navbar__item .material-icons__jade {
    color: #00A389;
    background-color: #E8F5F3; }

.btn {
  background-color: #00A389;
  color: white;
  border: none;
  outline: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px; }
  .btn:hover {
    cursor: pointer;
    background-color: #00A389; }
  .btn:active {
    background-color: #2bb39d;
    color: #E4E8EE; }
  .btn .material-icons {
    font-size: 18px;
    margin-right: 18px; }

.sidebar__item {
  display: flex;
  padding: 12px 12px 12px 0;
  align-items: center;
  padding: 12px;
  font-weight: 600;
  font-size: 14px; }
  .sidebar__item .material-icons {
    background-color: initial;
    color: #BEC4CD;
    border: none;
    outline: 0;
    margin-right: 18px; }
    .sidebar__item .material-icons:hover {
      cursor: pointer;
      background-color: initial; }
    .sidebar__item .material-icons:active {
      background-color: initial;
      color: #717D9D; }
  .sidebar__item:hover {
    color: #00A389; }
    .sidebar__item:hover .material-icons {
      color: #00A389; }

.sidebar__item:first-of-type {
  display: flex;
  padding: 12px;
  align-items: center;
  color: #00A389;
  font-weight: 600;
  font-size: 14px; }
  .sidebar__item:first-of-type .material-icons {
    color: #00A389; }
  .sidebar__item:first-of-type .sidebar__item__number {
    background-color: #00A389;
    color: white;
    border: none;
    outline: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 5px 8px;
    color: white;
    font-size: 14px; }
    .sidebar__item:first-of-type .sidebar__item__number:hover {
      cursor: pointer;
      background-color: #00A389; }
    .sidebar__item:first-of-type .sidebar__item__number:active {
      background-color: #2bb39d;
      color: #E4E8EE; }

.sidebar__lable__item .tag {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 20px;
  width: 24px;
  z-index: 1;
  margin-right: 18px;
  background-color: #D0D3E3; }
  .sidebar__lable__item .tag::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(37deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(-41deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag::before {
    background-color: #D0D3E3; }
  .sidebar__lable__item .tag::after {
    background-color: #D0D3E3; }

.sidebar__lable__item .tag1 {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 20px;
  width: 24px;
  z-index: 1;
  margin-right: 18px;
  background-color: #F2DEA8; }
  .sidebar__lable__item .tag1::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(37deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag1::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(-41deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag1::before {
    background-color: #F2DEA8; }
  .sidebar__lable__item .tag1::after {
    background-color: #F2DEA8; }

.sidebar__lable__item .tag2 {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 20px;
  width: 24px;
  z-index: 1;
  margin-right: 18px;
  background-color: #8EDCCF; }
  .sidebar__lable__item .tag2::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(37deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag2::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(-41deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag2::before {
    background-color: #8EDCCF; }
  .sidebar__lable__item .tag2::after {
    background-color: #8EDCCF; }

.sidebar__lable__item .tag3 {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 20px;
  width: 24px;
  z-index: 1;
  margin-right: 18px;
  background-color: #b1e9ff; }
  .sidebar__lable__item .tag3::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(37deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag3::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(-41deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag3::before {
    background-color: #b1e9ff; }
  .sidebar__lable__item .tag3::after {
    background-color: #b1e9ff; }

.sidebar__lable__item .tag4 {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 20px;
  width: 24px;
  z-index: 1;
  margin-right: 18px;
  background-color: #CDBFFF; }
  .sidebar__lable__item .tag4::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(37deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag4::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 8px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(-41deg);
    border-radius: 8px; }
  .sidebar__lable__item .tag4::before {
    background-color: #CDBFFF; }
  .sidebar__lable__item .tag4::after {
    background-color: #CDBFFF; }

.sidebar__lable__item__title {
  font-size: 12px;
  font-weight: 700;
  color: #312c2c; }

.mail-list__item:first-of-type {
  color: red;
  background-color: red !important; }

.mail-list__item {
  display: flex;
  margin: 5px 15px;
  padding: 14px;
  align-items: center;
  border-radius: 8px; }
  .mail-list__item__sender-avatar {
    width: 44px;
    height: 44px;
    border-radius: 25px;
    margin-right: 15px; }
    .mail-list__item__sender-avatar img {
      width: 100%;
      object-fit: cover;
      border-radius: 25px; }
    .mail-list__item__sender-avatar .avatar__name {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px; }
    .mail-list__item__sender-avatar--jade {
      color: #00A389;
      background-color: #E8F5F3;
      font-family: "Sofia Pro Medium"; }
    .mail-list__item__sender-avatar--brown {
      color: #bca246;
      background-color: #F2DEA8;
      font-family: "Sofia Pro Medium"; }
    .mail-list__item__sender-avatar--orange {
      color: #FE6600;
      background-color: #FFCCAA;
      font-family: "Sofia Pro Medium"; }
  .mail-list__item__content__name {
    font-weight: 600;
    font-size: 14px;
    padding-top: 5px; }
  .mail-list__item__content__text {
    color: #9DA5B0;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Sofia Pro Medium";
    padding-top: 5px; }
  .mail-list__item__note {
    font-size: 12px;
    margin-left: auto;
    color: #717D9D;
    text-align: center; }
    .mail-list__item__note__number {
      background-color: #00A389;
      color: white;
      border: none;
      outline: 0;
      border-radius: 8px;
      display: flex;
      align-items: center;
      margin-top: 3px;
      margin-left: auto;
      padding: 5px 10px;
      background-color: #00A389; }
      .mail-list__item__note__number:hover {
        cursor: pointer;
        background-color: #00A389; }
      .mail-list__item__note__number:active {
        background-color: #2bb39d;
        color: #E4E8EE; }
    .mail-list__item__note .material-icons {
      background-color: initial;
      color: #BEC4CD;
      border: none;
      outline: 0;
      font-size: 18px;
      margin-top: 4px; }
      .mail-list__item__note .material-icons:hover {
        cursor: pointer;
        background-color: initial; }
      .mail-list__item__note .material-icons:active {
        background-color: initial;
        color: #717D9D; }
    .mail-list__item__note .mail-list__item__note--star--jade {
      color: #00A389 !important; }
  .mail-list__item:hover {
    background-color: white;
    box-shadow: 0px 0px 3px 0px #BEC4CD; }

.page {
  display: flex;
  min-height: 800px; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 92px;
  padding: 0 20px; }
  .navbar .logo-up, .navbar .logo-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #00A389; }
  .navbar .logo-down {
    margin-left: auto;
    border-bottom: none;
    border-top: 12px solid #fa5d5d; }
  .navbar__header {
    width: 25px;
    align-self: flex-start;
    margin-top: 48px; }
  .navbar__item {
    color: #BEC4CD;
    width: 100%; }
  .navbar__footer {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 44px;
    height: 44px;
    border-radius: 25px; }
    .navbar__footer img {
      width: 100%;
      object-fit: cover;
      border-radius: 25px; }

.content {
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: -4px 0 5px -6px black; }

.sidebar {
  width: 270px; }
  .sidebar .sidebar__header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: thin #dddee1 solid; }
    .sidebar .sidebar__header__icon {
      border-radius: 12px;
      text-align: center;
      height: 40px;
      width: 40px;
      background-color: #F4F6F8;
      color: #9DA5B0;
      border: none;
      outline: 0; }
      .sidebar .sidebar__header__icon:hover {
        cursor: pointer;
        background-color: #E4E8EE; }
      .sidebar .sidebar__header__icon:active {
        background-color: grey-300;
        color: initial; }
    .sidebar .sidebar__header__title {
      margin: -2px 0 0 14px;
      font-size: 20px;
      font-weight: 600; }
  .sidebar .sidebar__items {
    margin: 20px 0 45px 0; }
    .sidebar .sidebar__items .btn {
      margin: 20px 0 45px 0; }
  .sidebar .sidebar__lable {
    padding-left: 15px; }
    .sidebar .sidebar__lable__first {
      color: #717D9D;
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .sidebar .sidebar__lable__first__tilte {
        font-size: 18px;
        color: #717D9D;
        font-weight: 600;
        margin-right: auto; }
      .sidebar .sidebar__lable__first__icon {
        background-color: #E8F5F3;
        color: #00A389;
        border: none;
        border-radius: 8px;
        outline: 0;
        padding: 3px; }
        .sidebar .sidebar__lable__first__icon:hover {
          cursor: pointer;
          background-color: #E8F5F3;
          color: #00A389; }
        .sidebar .sidebar__lable__first__icon:active {
          background-color: #8EDCCF;
          color: #00A389; }
      .sidebar .sidebar__lable__first__more {
        background-color: initial;
        color: #BEC4CD;
        border: none;
        outline: 0;
        margin-left: 5px; }
        .sidebar .sidebar__lable__first__more:hover {
          cursor: pointer;
          background-color: initial; }
        .sidebar .sidebar__lable__first__more:active {
          background-color: initial;
          color: #717D9D; }
    .sidebar .sidebar__lable__item {
      display: flex;
      align-items: center;
      padding: 15px 0; }

.mail-list {
  width: 360px;
  margin: 0 20px 0 15px;
  border-radius: 20px;
  background-color: #F4F6F8; }
  .mail-list .mail-list__search {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: thin solid #dddee1; }
    .mail-list .mail-list__search .search {
      height: 40px;
      width: 100%;
      border-radius: 12px;
      border: none;
      background-color: #E4E8EE;
      font-family: 'Sofia Pro Light';
      padding: 0 12px;
      outline: none; }
    .mail-list .mail-list__search .material-icons {
      position: absolute;
      right: 25px;
      color: #BEC4CD; }

.mail-details__header {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: thin #dddee1 solid; }
  .mail-details__header .tag {
    font-size: 12px;
    font-weight: 600;
    color: #685F48;
    padding: 3px 0 3px 15px;
    border-radius: 5px;
    position: relative;
    background-color: #F2DEA8;
    height: 28px;
    width: 124px;
    display: flex;
    align-items: center;
    z-index: 1; }
    .mail-details__header .tag::after {
      content: "";
      position: absolute;
      top: 0px;
      width: 12px;
      height: 20px;
      margin-left: 102px;
      background-color: #F2DEA8;
      border-radius: 5px;
      transform: rotate(-30deg);
      z-index: -1; }
    .mail-details__header .tag::before {
      content: "";
      position: absolute;
      top: 8px;
      width: 12px;
      height: 20px;
      margin-left: 102px;
      background-color: #F2DEA8;
      border-radius: 5px;
      transform: rotate(30deg);
      z-index: -1; }
    .mail-details__header .tag .material-icons {
      font-size: 14px;
      font-weight: 600;
      color: #685F48;
      margin-left: 5px; }
  .mail-details__header .mail-details__icon {
    margin-left: auto; }
    .mail-details__header .mail-details__icon .material-icons {
      background-color: initial;
      color: #BEC4CD;
      border: none;
      outline: 0;
      font-size: 18px;
      margin-left: 10px; }
      .mail-details__header .mail-details__icon .material-icons:hover {
        cursor: pointer;
        background-color: initial; }
      .mail-details__header .mail-details__icon .material-icons:active {
        background-color: initial;
        color: #717D9D; }

.mail-detail__content .mail-details__content__title__date {
  margin-top: 20px;
  font-size: 12px;
  color: #9DA5B0;
  font-family: "Sofia Pro Medium"; }

.mail-detail__content .mail-details__content__title__topic {
  margin: 16px 0 38px;
  font-size: 28px; }

.mail-detail__content .mail-details__received {
  display: flex;
  align-items: center;
  font-size: 12px; }
  .mail-detail__content .mail-details__received__sender-avatar {
    width: 40px;
    border-radius: 25px; }
    .mail-detail__content .mail-details__received__sender-avatar img {
      width: 100%;
      object-fit: cover;
      border-radius: 25px; }
    .mail-detail__content .mail-details__received__sender-avatar .material-icons {
      color: #BEC4CD;
      align-items: center; }
  .mail-detail__content .mail-details__received__content {
    display: flex;
    margin-left: 15px; }
    .mail-detail__content .mail-details__received__content__name {
      font-weight: 600; }
    .mail-detail__content .mail-details__received__content__text {
      width: 280px;
      padding-left: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #9DA5B0;
      font-family: "Sofia Pro Medium"; }
  .mail-detail__content .mail-details__received__time {
    margin-left: auto;
    color: #9DA5B0;
    font-family: "Sofia Pro Medium"; }
  .mail-detail__content .mail-details__received__sent {
    padding: 15px 0;
    margin: 5px 0;
    border-bottom: thin #dddee1 solid;
    border-top: thin #dddee1 solid; }

.mail-detail__content .mail-details__chat {
  color: #384055;
  font-size: 16px;
  margin-top: 43px;
  word-wrap: break-word; }
  .mail-detail__content .mail-details__chat__name {
    margin: 15px 0; }
    .mail-detail__content .mail-details__chat__name__link {
      color: #2bb39d; }

.mail-detail__content .textarea {
  resize: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  border: 1px solid #dddee1;
  padding: 2%;
  height: 8vw;
  font-family: "Sofia Pro Light";
  outline: none !important; }

.mail-detail__content .utilities {
  display: flex;
  align-items: center;
  height: 44px;
  margin-top: -8px;
  color: #CDBFFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #dddee1; }
  .mail-detail__content .utilities__left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    padding: 10px;
    border-right: thin solid #dddee1; }
    .mail-detail__content .utilities__left .material-icons {
      background-color: initial;
      color: #BEC4CD;
      border: none;
      outline: 0;
      font-size: 20px; }
      .mail-detail__content .utilities__left .material-icons:hover {
        cursor: pointer;
        background-color: initial; }
      .mail-detail__content .utilities__left .material-icons:active {
        background-color: initial;
        color: #717D9D; }
      .mail-detail__content .utilities__left .material-icons--jade, .mail-detail__content .utilities__left .material-icons:hover {
        color: #00A389; }
  .mail-detail__content .utilities__right {
    width: 50%;
    display: flex;
    justify-content: space-around; }
    .mail-detail__content .utilities__right .material-icons {
      background-color: initial;
      color: #BEC4CD;
      border: none;
      outline: 0;
      font-size: 20px; }
      .mail-detail__content .utilities__right .material-icons:hover {
        cursor: pointer;
        background-color: initial; }
      .mail-detail__content .utilities__right .material-icons:active {
        background-color: initial;
        color: #717D9D; }
      .mail-detail__content .utilities__right .material-icons:hover {
        color: #00A389; }

.mail-details__footer {
  display: flex;
  margin-top: 30px;
  align-items: center;
  color: #BEC4CD; }
  .mail-details__footer__left {
    margin-right: auto; }
    .mail-details__footer__left .material-icons {
      background-color: initial;
      color: #BEC4CD;
      border: none;
      outline: 0;
      margin-right: 10px; }
      .mail-details__footer__left .material-icons:hover {
        cursor: pointer;
        background-color: initial; }
      .mail-details__footer__left .material-icons:active {
        background-color: initial;
        color: #717D9D; }
  .mail-details__footer__center .material-icons {
    background-color: initial;
    color: #BEC4CD;
    border: none;
    outline: 0;
    margin-right: 10px; }
    .mail-details__footer__center .material-icons:hover {
      cursor: pointer;
      background-color: initial; }
    .mail-details__footer__center .material-icons:active {
      background-color: initial;
      color: #717D9D; }
  .mail-details__footer__right .btn__sent {
    background-color: #00A389;
    color: white;
    border: none;
    outline: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 88px;
    padding: 10px; }
    .mail-details__footer__right .btn__sent:hover {
      cursor: pointer;
      background-color: #00A389; }
    .mail-details__footer__right .btn__sent:active {
      background-color: #2bb39d;
      color: #E4E8EE; }
    .mail-details__footer__right .btn__sent .material-icons {
      margin-left: 10px; }
